<!-- src/app/components/header/header.component.html -->
<header
  class="z-10 sticky top-0 w-full bg-background/95 border-b backdrop-blur supports-[backdrop-filter]:bg-background/60">
  <div class="container flex items-center h-16">
    <div class="flex items-center mr-4">
      <div class="h-6 w-6 text-primary">
        <lucide-icon [img]="hospitalIcon" class="my-icon"></lucide-icon>
      </div>
      <span class="ml-2 font-headline text-lg font-semibold text-primary">
        IMSS Bienestar Baja California
      </span>
    </div>
  </div>
</header>